<!DOCTYPE html>
<html>
    <head>
        <title>Assignments</title>
    <style>
    body {background-color: deepskyblue;}
    h1 {
      color: gold;
      font-family: timesnewroman;
      font-size: 200%;
    }
    p  {
      color: white;
      font-family: timesnewroman;
      font-size: 100%;
    }
    a  {
      color: darkblue;
      font-family: timesnewroman;
      font-size: 100%;
    }
    </style>
    <head>
    <body>
    <h1>Assignments</b></h1>
    <a href= "/">Home</a>
    <p>
    HW1: The theory part of this hw invloved some exercises on binary numbers.
    The second part was mainly list manipulations. 
    </p>
    <p>
    HW2: This was a two part hw. The first section focused on sorting and time complexity.
    For the second part we had to write a program that simulates the motion of a projectile. We also
    started working on program which would analyze a real world dataset and predict 
    whether a given tumor is benign or malignant. For this homework we had to implement some 
    utility functions. 
    </p>
    <p>
    HW3: This hw was composed of two parts. The first part focused on sets, dictionaries and implementing some functions recursively.
    In the second part, we had to solve a percolation problem using recursion. We also continued work on our machine learning library, 
    by adding some more utility functions.  
    </p>
    <p>
    HW4: This hw was centered around object oriented programming. Specifically, we had to model a class. We had to create a class 
    object, a teacher object, a student object and an assingment object. Using this, we instantiated a class with a teacher, enrolled
    students and gave them assignments. Students received a grade and the teacher was payed. 
    </p>
    <p>
    HW5: In this homework, we completed our machine learning library by implementing KNN (two ways) and SVM. This assignment also 
    invloved some plotting and the use of pandas.
    </p>
    <p>
    Midterm: For this assignment, we had to create a python application that modified PPM files in various ways, such as removing certain 
    objects, flipping the image and converting the color image to black and white image.
    </p>
    <p>
    I really enjoyed working on our machine learning library because it invloved combining different skills from the course. We not only had 
    to write our own code, but also understand what is given to us which I believe is an important skill to have. It gave me a taste of what
    programming can do for us.
    </p> 
    </body>
</html>