<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <style>
    body {background-color: deepskyblue;}
    h1 {
      color: gold;
      font-family: timesnewroman;
      font-size: 200%;
    }
    p  {
      color: white;
      font-family: timesnewroman;
      font-size: 100%;
    }
    a  {
      color: darkblue;
      font-family: timesnewroman;
      font-size: 100%;
    }
    </style>
    <head>
    <body>
    <h1>Personal engi1006 Homepage</b></h1>
    <a href= "/assignments">Assignments</a>
    <a href= "/classes">Classes</a>
    <a href= "https://www.youtube.com/channel/UCrUPLQDe_DEvy8bgs7DZnig"> Check out my friend's music!</a>
    <p>  <img src="/static/images/me.jpeg" alt="That's me in Miami" style="width:240px;height:320px;"> </p>
    <p><em>Name:</em> Georgios Thomakos</p>
    <p><em>Grade:</em> Freshman</p>
    <p><em>Intended Major:</em> Mechanical Engineering</p>
    </body>
</html>